doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    title RequireJS+CoffeeScript experiment
  body
    div.footer
      script(id="requirejs-2.1.10", data-main="/script/x-node-coffeescript-mpe.js",
        src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js")



