script(src='/socket.io/socket.io.js')
script(src='/components/jquery/dist/jquery.js')
script(src='/components/jquery.tagsinput/jquery.tagsinput.js')
script(src='/components/bootstrap/dist/js/bootstrap.js')

block foot
