extends ../layouts/default

block body
  //div.ng-app-container(ng-controller='AppCtrl')

  div.ng-view-wrapper(ng-view)

  script(
      data-main="/script/ng-trojan.js",
      src=lib.js.requirejs)

