div.btn-group
  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
    span Menu 
    span.caret
  ul.dropdown-menu(role='menu')
    li
      a(href='view1') Test
    li.divider
    li
      a(href='view2') Tumblr
ul.menu
  li
    a(href='view1') Test
  li
    a(href='view2') Tumblr

