p This is the Tumblr test page

div.btn Foo

button.btn.btn-primary.btn-block(type='button') Block level button
button.btn.btn-default.btn-block(type='button') Block level button
button.btn.btn-block.btn-info(type='button') Block level button
button.btn.btn-block.btn-success(type='button') Block level button
