doctype html
html(ng-app="ng-trojan-cs")
  head
    meta(charset='utf8')
    base(href='/')
    title NCARS 0001
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/style/app.css')
  body
    block body
