doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    title
      Markdown editor
  body
    h1 RequireJS, Markdown, D3 bootstrap test
    textarea(id="text-input",data-provide="markdown",rows="6", cols="70")
      | Type **Markdown** here.
    p Below should be a HTML preview of the Markdown document
    div#preview
    div(data-provide="markdown-editable")
      h3 This is some editable heading
      p Well, actually all contents within this "markdown-editable" context is really editable. Just click anywhere!

    p Below a chart should render (from app/dashboard)
    div#chart

    div.footer
      script(id="requirejs-2.1.10", data-main="/script/dotmpe-requirejs-app.js",
        src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js")


