div.btn-group
  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
    span Menu 
    span.caret
  ul.dropdown-menu(role='menu')
    li
      a(href='/client/index') Home
    li.divider
    li
      a(href='/client/account') Account
    li
      a(href='/client/post') Post


