extends ../layouts/base

block main
  h1= title

block content
  p This is the home page.

  p Angular apps:
  ul
    li
      a(href="/trojan/#/") Trojan: simple angular experiment.
    li
      a(href="/trojan-cs/#/") Same app in coffeescript?

  p Other RequireJS apps:
  ul
    li 
      a(href="/mpe/markdown") Some initial RequireJS and markdown tests
      | , not completely satisfactory. See f_markdown branch.
    li 
      a(href="/examples/backbone-todo") Backbone's To-Do example
      | .
    li 
      a(href="/mpe/x-coffeescript") Running coffee-script
      | , client-side using RequireJS.

block footer
  #footer
    include ../includes/footer

    .container
      ul.nav.navbar-nav.navbar-right
        | Right.
