extends ../layouts/default

block body
  div.ng-app-container(ng-controller='AppCtrl')
    
    div.ng-view-wrapper(ng-view)

  script(src='/socket.io/socket.io.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-route/angular-route.js')
  script(src='/bower_components/angular-socket-io/socket.js')
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/app/base.js')
  script(src='/js/base/services.js')
  script(src='/js/base/controllers.js')
  script(src='/js/base/filters.js')
  script(src='/js/base/directives.js')



