doctype html
html(ng-app="base")
  head
    meta(charset='utf8')
    base(href='/')
    title NCARS 0001
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
